@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
main {
    height: 100%;
    display: flex;
}
div.projects-bar {
    width: 230px;
    background-color: #1caefc;
}
div.projects-bar > h1 {
    margin: 0;
    text-align: center;
    margin-top: 20px;
    color: #fff;
}
div.projects-bar > .projects {
    display: flex;
    flex-direction: column;
    margin: 20px;
}
div.projects-bar > .projects > .project {
    text-align: center;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    margin-bottom: 10px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
div.projects-bar > .projects > .project:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
div.projects-bar > .btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
div.projects-bar > .btn > #add-project {
    margin: auto;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
div.projects-bar > .btn > #add-project:hover{
    background: rgba(255,255,255,0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}




div.content {
    flex-grow: 1;
}
div.content > #project-name {
    text-align: center;
    margin: 20px 0;
}
div.content > .tasks {
    background-color: #1caefc;
    min-height: calc(100vh - 98px);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
div.content > .tasks > .task {
    width: 95%;
    height: 50px;
    background-color: #0070f3;
    margin-top: 15px;
    border-radius: 5px;
    display: flex;
    color: #fff;
    text-align: left;
    box-shadow: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
}
div.content > .tasks > .task > #title {
    margin-left: 20px;
    margin-right: 30px;
}
div.content > .tasks > .task > #description {
    margin-left: 20px;
    margin-right: auto;
}
div.content > .tasks > .task > #date {
    margin-right: 50px;
}
div.content > .tasks > .task > .remove-task {
    margin-right: 10px;
    cursor: pointer;
}
div.content > .tasks > #add-task {
    margin-top: 30px;
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #696969;
    box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
div.content > .tasks > #add-task:hover{
    background: rgba(255,255,255,0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

#add-task-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 400px;
    border-radius: 10px;
}
#add-task-popup > h1 {
    text-align: center;

}
#add-task-popup > .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#add-task-popup > .inputs > input:not([type="button"]) {
    
    display: inline-block;
    padding: 0 16px 0 12px;
    outline: none;
    width: 100%;
    line-height: 30px;
    height: 32px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear,background-color .1s linear;
    width: 230px;
    margin: 15px 0;

}
#add-task-popup > .inputs > input:focus:not([type="button"]) {
    border-color: #1b96ff;
    color: var(--sds-c-input-text-color-focus);
    box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
}
#add-task-popup > .inputs > input[type="button"] {
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    width: 200px;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;    
}
#add-task-popup > .inputs > input[type="button"]:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}

#add-project-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#add-project-popup > h1 {
    text-align: center;

}
#add-project-popup > .inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#add-project-popup > .inputs > input:not([type="button"]) {
    
    display: inline-block;
    padding: 0 16px 0 12px;
    outline: none;
    width: 100%;
    line-height: 30px;
    height: 32px;
    border: 1px solid #dddbda;
    border-radius: 4px;
    background-color: #fff;
    color: rgb(8, 7, 7);
    transition: border .1s linear,background-color .1s linear;
    width: 230px;
    margin: 15px 0;

}
#add-project-popup > .inputs > input:focus:not([type="button"]) {
    border-color: #1b96ff;
    color: var(--sds-c-input-text-color-focus);
    box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
}
#add-project-popup > .inputs > input[type="button"] {
    
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    line-height: 45px;
    border-radius: 7px;
    background-color: #0070f3;
    color: white;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
    width: 200px;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;    
}
#add-project-popup > .inputs > input[type="button"]:hover{
    background: rgba(0,118,255,0.9);
    box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}